:root {
    --primary-color: #006241;
    --black-color: #010508;
    --white-color: #f1f5f8;
    --size: 0.21875rem;
    --max-width: 1280px;
    --transition-duration: 0.25s;
    --primary-font:"Open Sans", serif;
    --primary-text: var(--black-color);
    --dark-primary-text: var(--white-color);
    --border-radius: calc(var(--size) * 4);
  
    @media (width >=768px) {
      --size: 0.25rem;
    }
  }
  
   